@model FHIR_FIT3077.ViewModel.PatientViewModel;

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.MonitorList.Count > 0)
    {
        @foreach (var item in Model.MonitorList)
        {
            <tr>
                <td>
                    @item.Name
                    @item.Record.Value
                    @item.Record.Date
                </td>
            </tr>
        }
    }
    </tbody>
</table>
