@using FIT3077.Shared.Models
<div>
    <div style="text-align: center"><p>Total Cholesterol</p></div>
    <BarChart style="height: 260px" @ref="barChart" TItem="double" />
</div>

@code {

    [Parameter]
    public IReadOnlyList<Monitor> Monitors { get; set; }

    BarChart<double> barChart;
    List<double> dataSet;
    List<string> Labels;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(dataSet != null && Labels != null)
        {
            dataSet = null;
            Labels = null;
        }

        await HandleRedraw();
    }

    async Task HandleRedraw()
    {
        await barChart.Clear();

        await barChart.AddLabel(RetrieveNames().ToArray());

        await barChart.AddDataSet(GetBarChartDataset());

        await barChart.Update();
    }

    BarChartDataset<double> GetBarChartDataset()
    {
        return new BarChartDataset<double>
        {
            Label = "Cholesterol level",
            Data = RetrieveCholesterolData(),
            BackgroundColor = backgroundColors,
            BorderColor = borderColors
        };
    }

    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    List<double> RetrieveCholesterolData()
    {
        dataSet = new List<double>();
        foreach (var v in Monitors)
        {
            dataSet.Add(Convert.ToDouble(v.MeasurementList.CholesterolRecords[0].CholesterolValue));
        }

        return dataSet;
    }

    List<string> RetrieveNames()
    {
        Labels = new List<string>();
        foreach (var v in Monitors)
        {
            Labels.Add(v.PatientName);
        }

        return Labels;
    }

}

