@using FIT3077.Shared.Models
    <div>
        <div style="text-align: center"><p>@Monitor.PatientName</p></div>
        <LineChart style="height: 260px" @ref="lineChart" TItem="double" />
    </div>
   

    

@code{
    [Parameter]
    public Monitor Monitor { get; set; }

    LineChart<double> lineChart;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await HandleRedraw();
        }
    }

    async Task HandleRedraw()
    {
        await lineChart.Clear();

        await lineChart.AddLabel(Labels);

        await lineChart.AddDataSet(GetLineChartDataset());

        await lineChart.Update();
    }

    LineChartDataset<double> GetLineChartDataset()
    {
        return new LineChartDataset<double>
        {
            Label = "Value of Systolic Blood Pressure",
            Data = RetrieveData(),
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = false,
            PointRadius = 2,
            BorderDash = new List<int> { }
        };
    }

    string[] Labels = { "1", "2", "3", "4", "5" };
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    List<double> RetrieveData()
    {
        var dataSet = new List<double>();
        foreach (var v in Monitor.MeasurementList.BloodPressureRecords.Records)
        {
            dataSet.Add(int.Parse(v.SystolicValue));
        }
        dataSet.Reverse();
        return dataSet;
    }
}
