@using FIT3077.Shared.Models;

<div>
    <div style="display:inline-block">
        <EditForm Model="@Value" class="input-group">
            <InputNumber class="px-2" id="X" placeholder="Average Systolic Value" @bind-Value="Value.Systolic" />
        </EditForm>
    </div>
    <div style="display:inline-block">
        <EditForm Model="@Value" class="input-group">
            <InputNumber class="px-2" id="Y" placeholder="Average Diastolic Value" @bind-Value="Value.Diastolic" />
        </EditForm>
    </div>
    <div style="display:inline-block">
        <button class="btn btn-dark " @onclick="() => OnClickHighBloodPressure.InvokeAsync(Value)">Enter</button>
    </div>
</div>
@code {


    [Parameter]
    public EventCallback<SysDiastolicThreshold> OnClickHighBloodPressure { get; set; }

    public SysDiastolicThreshold Value { get; set; }

    protected override void OnInitialized()
    {
        Value = new SysDiastolicThreshold();
    }

}
